body{
    background-color: rgb(190, 190, 190);
}
header{
    padding-left: 15px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
    
}
li{
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid white;
}
li a{
    display: block;
    color: white;
    padding: 4px 6px;
    text-decoration: none;
    color: white;
    text-align: center;  
}
a:hover{
    background-color: green;
}
.contact{
    background-color: green;
}
.contain{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.container1{
    float: left;
    width: 70%;
    background-color: white ;
    font-size: 15px;
    padding: 50px;
    padding-top: 0;
    margin-bottom: 0;
}
.container2{
    float: right;
    width: 20%;
    padding: 5px;
    margin-left: 5px;
    padding-top: 0;
    background-color: rgb(190, 190, 190);
}
h3{
     color: rgb(13, 113, 153);
     margin-bottom: 1px;
 }
.head1{
    color: rgb(13, 113, 153);
    margin-bottom: 0px;
 }
.contain{
     overflow: hidden;
 }
 footer{
    /* position: absolute; */
    width: 99%;
    font-size: 15px;
    left: 0px; 
    bottom: 0px; 
    background-color: rgb(128,128,128);
    text-align: right;
    padding: 1%; 
    padding-right: 2px;
}
p{
    margin-top: 1px;
}